<div class="page-header">
  <h1>Ponude</h1>
</div>

<div class="row">
  <button class="btn btn-info" (click)="dodaj()">Dodaj ponudu</button>

  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Ponuda Id</th>
          <th>Datum</th>
          <th>Napomena</th>
          <th>Naziv zahteva</th>
          <th>Stavke ponude</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ponuda of ponude">
          <td [innerHtml]="ponuda.id"></td>
          <td [innerHtml]="ponuda.datum"></td>
          <td [innerHtml]="ponuda.napomena"></td>
          <td [innerHtml]="ponuda.zahtevNaziv"></td>
          <td>
            <button class="btn btn-info" (click)="idiNaStavkePonude(ponuda)">Stavke ponude</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
