<div class="page-header">
  <h3>Ponuda</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Ponuda Id</th>
          <th>Datum</th>
          <th>Napomena</th>
          <th>Naziv zahteva</th>
          <th>Akcije</th>
        </tr>
      </thead>
      <tbody>
        <td [innerHtml]="ponuda.id"></td>
        <td [innerHtml]="ponuda.datum"></td>
        <td [innerHtml]="ponuda.napomena"></td>
        <td [innerHtml]="ponuda.zahtevNaziv"></td>
        <td>
          <button class="btn btn-warning" (click)="izmeni(ponuda)">Izmeni ponudu</button>
          <button class="btn btn-danger" (click)="obrisi(ponuda)">Obrisi ponudu</button>
        </td>
      </tbody>

    </table>
  </div>

  <div class="col-md-12">
    <h3>Stavke za izabranu ponudu</h3>
    <button class="btn btn-info pull-right" (click)="dodajStavku()">Dodaj stavku</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Redni broj stavke</th>
          <th>Kolicina</th>
          <th>Proizvod</th>
          <th>Status ponude</th>
          <th>Akcije</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stavka of stavke; let i = index">

          <td [innerHtml]="i + 1"></td>
          <td>
            <input class="form-control" type="number" [(ngModel)]="stavka.kolicnina" />
          </td>
          <td>
            <select class="form-control" [(ngModel)]="stavka.proizvodId" id="proizvodId" name="proizvodId">
              <option *ngFor="let proizvod of proizvodi" [value]="proizvod.id" [innerHtml]="proizvod.ime"></option>
            </select>
          </td>
          <td>
            <input class="form-control" type="text" [(ngModel)]="stavka.statusPonude" />
          </td>
          <td>
            <button class="btn btn-danger" (click)="obrisiStavku(i)">Obrisi stavku</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <button class="btn btn-primary btn-block" (click)="updateStavke()">Sacuvaj stavke</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger btn-block" (click)="odustani()">Otkazi promene</button>
    </div>
  </div>

</div>
