@import "bootstrap";

.row {
  margin-right: 0;
  margin-left: 0;
}

a:not([href]) {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.block-button-holder {
  padding-right: 0;
  padding-left: 0;
}
